* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(to bottom, #ffffff, #6ab4c7);
}

.center{
    display: flex;
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 2%;
}

header{
    background-color: rgba(255, 255, 255, 0.6);
    height: 60px;
}
 
.menu-container{
    justify-content: space-around;
    width: 100%;
}

img {
    height: 300px;
}

.logo h3{
    color: #000000;
    margin-top: 15px;
}

.menu-container a.active-menu{
    background-color: #aeaeae;
}

.menu-container a{
    color: #000000;
    display: inline-block;
    line-height: 60px;
    margin:  0 10px;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.8s ;
}

.menu-container a:hover{
    color: #5f5f5f;
}

    section.produtos{
        height: 625px;
        color: #f9f9f9;
        padding: 20px 0;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    section.produtos h3{
        text-transform: uppercase;
        
    }

    .text {
        color: #000;
    }

    .produto-single{
        margin: 0 10px;
        text-align: left;
        width: 450px;
    }

    .produto-single h3{
        background-color: #5b5252;
        border: 4px solid rgb(0, 0, 0);
        padding: 8px;
        text-align: center;
    }

    .produto-single p{
        background-color: white;
        color: black;
        padding: 8px;
    }
    .produto-single img{
        display: block;
        width: 100%;
    }

    footer{
        background-color: black;
        color: #fff;
        padding: 20px;
        text-align: center;
    }